<div class="sidebar">

  <div class="sidebar-header">

  <h2 class="logo">Navigator Pro</h2>

  <button
    class="close-btn"
    (click)="close()">

    <mat-icon>close</mat-icon>

  </button>

</div>

  

  <nav>
    <ul>

      <!-- Dashboard -->
      <li>
        <a
  routerLink="/dashboard"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="close()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Tasks -->
      <li>
        <a routerLink="/tasks" routerLinkActive="active"
        (click)="close()">
          <mat-icon>task_alt</mat-icon>
          <span>Tasks</span>
        </a>
      </li>

      <!-- Attendance -->
      <li>
        <a routerLink="/attendance" routerLinkActive="active"
        (click)="close()">
          <mat-icon>fact_check</mat-icon>
          <span>Attendance</span>
        </a>
      </li>

      <!-- Expenses -->
      <li>
        <a routerLink="/expenses" routerLinkActive="active"
        (click)="close()">
          <mat-icon>payments</mat-icon>
          <span>Expenses</span>
        </a>
      </li>

      <!-- Inventory -->
      <li>
        <a routerLink="/inventory" routerLinkActive="active"
        (click)="close()">
          <mat-icon>inventory_2</mat-icon>
          <span>Inventory</span>
        </a>
      </li>

      <!-- Leave -->
      <li>
        <a routerLink="/leave" routerLinkActive="active"
        (click)="close()">
          <mat-icon>event_note</mat-icon>
          <span>Leave</span>
        </a>
      </li>

      <!-- Reports -->
      <li>
        <a routerLink="/reports" routerLinkActive="active"
        (click)="close()">
          <mat-icon>description</mat-icon>
          <span>Reports</span>
        </a>
      </li>

      <!-- Users -->
      <li>
        <a routerLink="/users" routerLinkActive="active"
        (click)="close()">
          <mat-icon>group</mat-icon>
          <span>Users</span>
        </a>
      </li>

      

    </ul>
  </nav>

</div>