.chart-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}
h3{
    margin:0 0 20px;
    font-size:16px;
    font-weight:700;
}

canvas{
    max-height:300px;
}

