<div
  class="sidebar"
  [class.mobile-open]="isOpen">

  <!-- Mobile Close Button -->
  <div class="sidebar-header">

    <h2 class="logo">
        Navigator Pro
    </h2>

    <button
        mat-icon-button
        class="close-btn"
        (click)="close()">

        <mat-icon>close</mat-icon>

    </button>

</div>

  <nav>

    <ul>

      <!-- Dashboard -->
      <li>
        <a
          routerLink="/employee/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="close()">

          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>

        </a>
      </li>

      <!-- My Tasks -->
      <li>
        <a
          routerLink="/employee/tasks"
          routerLinkActive="active"
          (click)="close()">

          <mat-icon>task_alt</mat-icon>
          <span>My Tasks</span>

        </a>
      </li>

      <!-- Attendance -->
      <li>
        <a
          routerLink="/employee/attendance"
          routerLinkActive="active"
          (click)="close()">

          <mat-icon>fact_check</mat-icon>
          <span>Attendance</span>

        </a>
      </li>

      <!-- Expenses -->
      <li>
        <a
          routerLink="/employee/expenses"
          routerLinkActive="active"
          (click)="close()">

          <mat-icon>payments</mat-icon>
          <span>Expenses</span>

        </a>
      </li>

      <!-- Leave -->
      <li>
        <a
          routerLink="/employee/leave"
          routerLinkActive="active"
          (click)="close()">

          <mat-icon>event_note</mat-icon>
          <span>Leave</span>

        </a>
      </li>

      <!-- Profile -->
      <li>
        <a
          routerLink="/employee/profile"
          routerLinkActive="active"
          (click)="close()">

          <mat-icon>person</mat-icon>
          <span>Profile</span>

        </a>
      </li>

    </ul>

  </nav>

</div>