.chart-card{
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 2px 10px rgba(0,0,0,.08);
  height:390px;
}
h3{
    margin:0 0 20px;
    font-size:16px;
    font-weight:700;
}

canvas{
  height:280px !important;
}