<div class="topbar">

  <div class="left">

  <button
    mat-icon-button
    class="menu-btn"
    (click)="toggleMenu()">

    <mat-icon>menu</mat-icon>

  </button>

  <div class="welcome">

      <h3 class="desktop-greeting">
  {{ greeting }}, {{ currentUser?.fullName || 'User' }}
</h3>

<h3 class="mobile-greeting">
  {{ currentUser?.fullName || 'User' }}
</h3>

      <p>

        {{ currentUser?.role | titlecase }}

      </p>

    </div>

  </div>

  <div class="right">

    <button class="icon-btn notification">

      <mat-icon>notifications</mat-icon>

      <span class="dot"></span>

    </button>

    <img
      src="https://i.pravatar.cc/100?img=12"
      class="avatar"
      alt="profile">

  </div>

</div>