@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file */

/* ==========================================
   Premium Global Scrollbar
========================================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f7fb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #4f8cff,
    #2563eb
  );

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #2563eb,
    #1d4ed8
  );
}